@model EventManagementSystem.Models.Event
@{
    ViewData["Title"] = "Изтриване на събитие";
}

<div class="card card-glassmorphism">
    <div class="card-body">
        <h1 class="card-title text-danger">@ViewData["Title"]</h1>
        <h3>Сигурни ли сте, че искате да изтриете това?</h3>
        <hr />
        <div>
            <h4>@Model.Name</h4>
            <dl class="row">
                <dt class="col-sm-2">Описание</dt>
                <dd class="col-sm-10">@Model.Description</dd>
                <dt class="col-sm-2">Дата</dt>
                <dd class="col-sm-10">@Model.Date.ToString("f")</dd>
                <dt class="col-sm-2">Място</dt>
                <dd class="col-sm-10">@Model.Location</dd>
            </dl>

            <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Изтрий" class="btn btn-danger" />
                <a asp-action="Index" asp-controller="AdminEvent" class="btn btn-secondary">Отказ</a>
            </form>
        </div>
    </div>
</div>